node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
web-report/

# macOS
.DS_Store

# add
app.json
android/.idea
android/.gradle
android/**/build
ios/Pods
ios/SkyWay*
ios/build/*
UserInterfaceState.xcuserstate
.expo-shared/*

android/gradle.properties
android/app/src/main/java/host/exp/exponent/generated/AppConstants.java
android/app/src/main/java/host/exp/exponent/generated/DetachBuildConstants.java
sentry.properties
secret.json
secret-dev.json
google-services.json
GoogleService-Info*.plist
shell-app-manifest.json
shell-app.bundle
*.keystore

.vscode
*bak
*bk
node_modules
