node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
web-report/

android/.idea
android/.gradle
android/**/build
ios/Pods
UserInterfaceState.xcuserstate
*bak
*bk

sentry.properties
